.category-box {
  &-item {
    .ant-card {
      &-cover {
        padding-top: 20px;
        i {
          font-size: 100px;
          text-align: center;
          color: rgb(80, 141, 202);
        }
      }
      &-body {
        .ant-card-meta-title {
        }
        .ant-card-meta-desctiption {
        }
      }
    }
  }
}
