.category-box {
  a {
    text-decoration: none;
    color: #444;
  }
  &-item {
    position: relative;
    .ant-card {
      &-cover {
        i {
          font-size: 100px;
          text-align: center;
          color: rgb(80, 141, 202);
        }
      }
      &-body {
        .ant-card-meta-title {
        }
        .ant-card-meta-desctiption {
        }
      }
    }
    .delete-category-btn {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
}
