.exam-box {
  text-decoration: none;
  a {
    color: #444;
    text-decoration: none;
  }
  .exam-item {
    transition: 0.3s ease;
    border-radius: 20px;
    &:hover {
      background-color: rgba($color: #6356e5, $alpha: 0.8);
      color: white;
    }
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    &-brand {
      i {
        font-size: 50px;
      }
    }
    &-info {
      h4 {
      }
      p {
        margin-bottom: 5px;
      }
    }
  }
}
